@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Sarabun", sans-serif;
}
body {
  min-width: 60%;
  height: 2000px;
  /* background-color: rgb(170, 218, 255); */
}
h2 {
  color: blue;
  font-weight: bolder;
  font-size: larger;
}
